.container {
    min-height: 100vh;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-style: italic;
}

img {
    max-width: 100vw;
}